.list-card
{
    overflow: hidden;
}
.list-card-labels
{
    display: block;
    margin: 0!important;
}
.list-card-labels .card-label
{
    font-size: .7142857142857143rem;
    line-height: 1.142857142857143rem!important;
    height: inherit!important;
    margin-right: 0;
    padding: 0 0.5em;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .1) 0 0 5px, rgba(0, 0, 0, .2) 0 0 2px;
    width: auto!important;
    display: inline!important;
}